<md-content>
    <md-toolbar layout="row" md-scroll-shrink="true">
        <div class="md-toolbar-tools" ng-link="['Student Registration', {id: 0}]">
            <img alt="Georgia Tech | College of Computing" src="//cc.gatech.edu/~dchau/assets_new/gt_coc.png" style="float: left; height: 100%; cursor: pointer; padding: 5px 0;">
        </div>
        <span flex></span>
        <md-button ng-if="$ctrl.isLoggedIn()" ng-click="$ctrl.logOut()">
            Log Out
        </md-button>
    </md-toolbar>
</md-content>