<md-content class="registration md-padding autocomplete">
    <md-content ng-if="$ctrl.schedule">
        <md-subheader>Schedule</md-subheader>
        <md-tabs md-dynamic-height md-border-bottom>
            <md-tab ng-repeat="semester in $ctrl.schedule" label="{{semester.name}}">
                <md-list layout="column" layout-gt-xs="row">
                    <class-item flex-gt-xs width-percent="100" ng-model="course" ng-repeat="course in semester.courses"></class-item>
                </md-list>
            </md-tab>
        </md-tabs>
    </md-content>

    <md-divider></md-divider>

    <md-content ng-if="$ctrl.selectedClasses" layout="column" style="margin-top: 30px;">
        <md-contact-chips ng-model="$ctrl.selectedClasses" filter-selected="true" md-contacts="$ctrl.querySearch($query)" md-contact-name="course_name" md-contact-email="course_number" md-require-match="true" md-highlight-flags="i" placeholder="Select a class..."
            secondary-placeholder="Select more classes...">
        </md-contact-chips>

        <md-list>
            <md-subheader>All Classes</md-subheader>
            <class-item width-percent="33" ng-model="class" ng-click="$ctrl.selectClass(class)" ng-repeat="class in $ctrl.allClasses" ng-if="$ctrl.isSelected(class)"></class-item>
            <class-item width-percent="33" ng-model="class" ng-repeat="class in $ctrl.selectedClasses" class="selected"></class-item>
        </md-list>

        <md-button ng-click="$ctrl.submitChanges()" class="md-raised md-primary" style="margin-top: 30px;">Submit Changes</md-button>
    </md-content>

    <md-progress-circular md-mode="indeterminate" ng-if="!$ctrl.selectedClasses"></md-progress-circular>
</md-content>